html {
    box-sizing: border-box;
    color: #444;
    font: 12pt 'Open Sans', Arial;
    font-weight: 300;
}

*, *::before, *::after {
    box-sizing: inherit;
    color: inherit;
    font: inherit;
}

.container {
	margin: 0 auto;
	width: 960px;
	padding-left: 30px;
	padding-right: 30px;
}

/*
  ========================================
  Typography
  ========================================
*/

h1, h3, h4, h5, p {
	margin-bottom: 22px;
}

/*
  ========================================
  Buttons
  ========================================
*/

.btn {
	border-radius: 5px;
	display: inline-block;
	margin: 0;
}

.btn-alt {
	border: 1px solid #dfe2e5;
	padding: 10px 30px;
}

/*
  ========================================
  Home
  ========================================
*/

.hero {
	padding: 22px 80px 66px 80px;
	background-color: red;
}





